[submodule "productivity/scripts"]
	path = productivity/scripts
	url = https://github.com/RogerioDosSantos/productivity_scripts.git
[submodule "linux_environment"]
	path = devops/linux_environment
	url = https://github.com/RogerioDosSantos/linux_environment.git
[submodule "devops/docker"]
	path = devops/docker
	url = https://github.com/RogerioDosSantos/docker.git
[submodule "examples/dotNet/receive_windows_message"]
	path = examples/dotNet/receive_windows_message
	url = https://github.com/RogerioDosSantos/example_dotNet_receive_windows_message.git
[submodule "examples/cpp/serial_communication"]
	path = examples/cpp/serial_communication
	url = https://github.com/RogerioDosSantos/example_cpp_serial_communication.git
[submodule "productivity/templates/cpp/project"]
	path = productivity/templates/cpp/project
	url = https://github.com/RogerioDosSantos/template_cpp_project.git
[submodule "third-party/bash-git-prompt"]
	path = third-party/bash-git-prompt
	url = https://github.com/RogerioDosSantos/bash-git-prompt.git
[submodule "productivity/templates/indusoft/example"]
	path = productivity/templates/indusoft/example
	url = https://github.com/RogerioDosSantos/template_indusoft_example.git
[submodule "third-party/cppzmq"]
	path = third-party/cppzmq
	url = https://github.com/RogerioDosSantos/cppzmq.git
[submodule "examples/cpp/zeromq"]
	path = examples/cpp/zeromq
	url = https://github.com/RogerioDosSantos/example_zeromq.git
[submodule "examples/cpp/flatbuffers"]
	path = examples/cpp/flatbuffers
	url = https://github.com/RogerioDosSantos/example_flatbuffers.git
[submodule "third-party/flatbuffers"]
	path = third-party/flatbuffers
	url = https://github.com/RogerioDosSantos/flatbuffers.git
[submodule "devops/machines"]
	path = devops/machines
	url = https://github.com/RogerioDosSantos/devops_machines.git
[submodule "examples/iot_edge"]
	path = examples/iot_edge
	url = https://github.com/RogerioDosSantos/example_iot_edge.git
[submodule "third-party/iot_edge/azure-iot-sdk-c"]
	path = third-party/iot_edge/azure-iot-sdk-c
	url = https://github.com/RogerioDosSantos/azure-iot-sdk-c.git
[submodule "examples/dotNet/zip"]
	path = examples/dotNet/zip
	url = https://github.com/RogerioDosSantos/example_dotnet_zip.git
[submodule "examples/dotNet/azure"]
	path = examples/dotNet/azure
	url = https://github.com/RogerioDosSantos/example_dotnet_azure.git
[submodule "third-party/dockcross"]
	path = third-party/dockcross
	url = https://github.com/RogerioDosSantos/dockcross.git
[submodule "projects/wiki"]
	path = projects/wiki
	url = https://github.com/RogerioDosSantos/Wiki.git
[submodule "devops/publisher"]
	path = devops/publisher
	url = https://github.com/RogerioDosSantos/devops_publisher.git
[submodule "projects/launcher"]
	path = projects/launcher
	url = https://github.com/RogerioDosSantos/launcher.git
[submodule "examples/openfaas"]
	path = examples/openfaas
	url = https://github.com/RogerioDosSantos/example_openfaas.git
