[submodule "productivity/scripts"]
	path = productivity/scripts
	url = https://github.com/RogerioDosSantos/productivity_scripts.git
[submodule "linux_environment"]
	path = devops/linux_environment
	url = https://github.com/RogerioDosSantos/linux_environment.git
[submodule "devops/docker"]
	path = devops/docker
	url = https://github.com/RogerioDosSantos/docker.git
[submodule "examples/dotNet/receive_windows_message"]
	path = examples/dotNet/receive_windows_message
	url = https://github.com/RogerioDosSantos/example_dotNet_receive_windows_message.git
[submodule "examples/cpp/serial_communication"]
	path = examples/cpp/serial_communication
	url = https://github.com/RogerioDosSantos/example_cpp_serial_communication.git
[submodule "productivity/templates/cpp/project"]
	path = productivity/templates/cpp/project
	url = https://github.com/RogerioDosSantos/template_cpp_project.git
[submodule "third-party/bash-git-prompt"]
	path = third-party/bash-git-prompt
	url = https://github.com/RogerioDosSantos/bash-git-prompt.git
[submodule "productivity/templates/indusoft/example"]
	path = productivity/templates/indusoft/example
	url = https://github.com/RogerioDosSantos/template_indusoft_example.git
[submodule "third-party/cppzmq"]
	path = third-party/cppzmq
	url = https://github.com/RogerioDosSantos/cppzmq.git
[submodule "examples/cpp/zeromq"]
	path = examples/cpp/zeromq
	url = https://github.com/RogerioDosSantos/example_zeromq.git
[submodule "examples/cpp/flatbuffers"]
	path = examples/cpp/flatbuffers
	url = https://github.com/RogerioDosSantos/example_flatbuffers.git
[submodule "third-party/flatbuffers"]
	path = third-party/flatbuffers
	url = https://github.com/RogerioDosSantos/flatbuffers.git
[submodule "devops/machines"]
	path = devops/machines
	url = https://github.com/RogerioDosSantos/devops_machines.git
[submodule "examples/iot_edge"]
	path = examples/iot_edge
	url = https://github.com/RogerioDosSantos/example_iot_edge.git
[submodule "third-party/iot_edge/azure-iot-sdk-c"]
	path = third-party/iot_edge/azure-iot-sdk-c
	url = https://github.com/RogerioDosSantos/azure-iot-sdk-c.git
[submodule "examples/dotNet/zip"]
	path = examples/dotNet/zip
	url = https://github.com/RogerioDosSantos/example_dotnet_zip.git
[submodule "examples/dotNet/azure"]
	path = examples/dotNet/azure
	url = https://github.com/RogerioDosSantos/example_dotnet_azure.git
[submodule "third-party/dockcross"]
	path = third-party/dockcross
	url = https://github.com/RogerioDosSantos/dockcross.git
[submodule "projects/wiki"]
	path = projects/wiki
	url = https://github.com/RogerioDosSantos/Wiki.git
[submodule "devops/publisher"]
	path = devops/publisher
	url = https://github.com/RogerioDosSantos/devops_publisher.git
[submodule "projects/launcher"]
	path = projects/launcher
	url = https://github.com/RogerioDosSantos/launcher.git
[submodule "examples/cpp/nano_server"]
	path = examples/cpp/nano_server
	url = https://github.com/RogerioDosSantos/example_nano_server.git
[submodule "examples/openfaas"]
	path = examples/openfaas
	url = https://github.com/RogerioDosSantos/example_openfaas.git
[submodule "examples/jenkins"]
	path = examples/jenkins
	url = https://github.com/RogerioDosSantos/example_jenkins.git
[submodule "examples/serverless"]
	path = examples/serverless
	url = https://github.com/RogerioDosSantos/example_serverless.git
[submodule "examples/node/restfull_api"]
	path = examples/node/restfull_api
	url = https://github.com/RogerioDosSantos/example_node_restfull_api.git
[submodule "private"]
	path = private
	url = https://github.com/RogerioDosSantos/private.git
[submodule "examples/python/package"]
	path = examples/python/package
	url = https://github.com/RogerioDosSantos/example_python_package.git
[submodule "examples/cpp/codemeter"]
	path = examples/cpp/codemeter
	url = https://github.com/RogerioDosSantos/example_codemeter.git
[submodule "productivity/code_collection"]
	path = productivity/code_collection
	url = https://github.com/RogerioDosSantos/code_collection.git
[submodule "examples/dotNet/swashbuckle"]
	path = examples/dotNet/swashbuckle
	url = https://github.com/RogerioDosSantos/example_swashbuckle.git
[submodule "examples/dotNet/identity_server_client"]
	path = examples/dotNet/identity_server_client
	url = https://github.com/RogerioDosSantos/example_dotnet_identity_server_client.git
[submodule "examples/dotNet/nuget"]
	path = examples/dotNet/nuget
	url = https://rogersantosmain@dev.azure.com/rogersantosmain/nuget_example/_git/nuget_example
[submodule "examples/dotNet/jwt"]
	path = examples/dotNet/jwt
	url = https://github.com/RogerioDosSantos/example_dotnet_jwt.git
[submodule "examples/cpp/run_dotnet_core_v22"]
	path = examples/cpp/run_dotnet_core_v22
	url = https://github.com/RogerioDosSantos/example_cpp_run_dotnet_core_v22.git
[submodule "examples/bash/examples"]
	path = examples/bash/examples
	url = https://github.com/RogerioDosSantos/bash_examples.git
[submodule "examples/angular/environment_variables"]
	path = examples/angular/environment_variables
	url = https://github.com/RogerioDosSantos/example_angular_environment_variables.git
[submodule "examples/dotNet/dotnetcore_apis"]
	path = examples/dotNet/dotnetcore_apis
	url = https://github.com/RogerioDosSantos/example_dotnetcore_apis.git
[submodule "examples/cpp/is_running_in_container"]
	path = examples/cpp/is_running_in_container
	url = https://github.com/RogerioDosSantos/example_cpp_is_running_in_container.git
[submodule "projects/microsoft"]
	path = projects/microsoft
	url = https://work-microsoft@dev.azure.com/work-microsoft/wiki/_git/microsoft
