[submodule "productivity/scripts"]
	path = productivity/scripts
	url = https://github.com/RogerioDosSantos/productivity_scripts.git
[submodule "linux_environment"]
	path = linux_environment
	url = https://github.com/RogerioDosSantos/linux_environment.git
[submodule "devops/docker"]
	path = devops/docker
	url = https://github.com/RogerioDosSantos/docker.git
[submodule "examples/dotNet/receive_windows_message"]
	path = examples/dotNet/receive_windows_message
	url = https://github.com/RogerioDosSantos/example_dotNet_receive_windows_message.git
[submodule "examples/cpp/serial_communication"]
	path = examples/cpp/serial_communication
	url = https://github.com/RogerioDosSantos/example_cpp_serial_communication.git
[submodule "productivity/templates/cpp/project"]
	path = productivity/templates/cpp/project
	url = https://github.com/RogerioDosSantos/template_cpp_project.git
[submodule "third-party/bash-git-prompt"]
	path = third-party/bash-git-prompt
	url = https://github.com/RogerioDosSantos/bash-git-prompt.git
